/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.dark-theme {
	--background: #333333;
	--text-color: #ffffff;
}

.light-theme {
	--background: #ffffff;
	--text-color: #333333;
}

body {
	background-color: var(--background);
	color: var(--text-color);
}
