/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.dark-theme {
	--background: #333333;
	--text-color: #ffffff;
}

body {
	background-color: #333333;
	color: #ffffff;
}

.halo {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	pointer-events: none;
	box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}
